body {
    margin: 0;
    padding: 0;
}

.form {
    margin: 30px;
    padding: 10px;
}

.h3 {
    margin-top: 20px;
    display: inline-block;
    background-color: #3aada9a3;
    padding: 10px;
    border-radius: 5px;
}

.card {
    display: inline-block;
    margin-left: 13px;
    margin-bottom: 10px;
}

.rew {
    background-color: #efefefa3;
    padding: 10px;
}